---
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  urlSite: string;
  imageSite: string;
  keywordsSite: string;
}

const { title, description, urlSite, imageSite, keywordsSite } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywordsSite} />
    <link rel="canonical" href={urlSite} />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageSite} />
    <meta property="og:url" content={urlSite} />
    <meta property="og:site_name" content="Marsol Propiedades" />
    <meta name="author" content="MarSol Propiedades" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageSite} />
  </head>
  <body class="contenedor">
    <Menu />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .contenedor {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100dvh;
  }
</style>
